/* CSS crunched with Crunch - http://crunchapp.net/ */
html {
  height: 100%;
}
body {
  height: 100%;
}
#scrollBackground {
  width: 100%;
  height: 100%;
  -webkit-animation: scrollBackground 40s;
  /* Chrome, Safari, Opera */
  animation: scrollBackground 40s;
  background-size: 100% auto;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes scrollBackground {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 0px -100px;
  }
}
/* Chrome, Safari, Opera */
@keyframes scrollBackground {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 0px -100px;
  }
}
